body {
  margin: auto;
}

.main {
  display: flex;
}

.left-section {
  width: 40%;
  background-image: url(./assets/greens.jpg);
  background-size: cover;
}

.right-section {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.logo-background {
  background-color: rgba(0, 0, 0, .4);
  height: 150px;
  justify-content: center;
  margin-top: 150px;
  padding: 12px 0;
}

.logo-type {
  font-size: 48px;
  line-height: 1;
  color: white;
}

.heading {
  background-color: #f9f9f9;
  padding: 150px 100px 50px 50px;
}

.right-2 {
  background-color: #f9f9f9;
  padding: 50px 100px 150px 50px;
}

.form {
  padding: 25px 100px 25px 50px;
}

@font-face {
  font-family: my-cool-font;
  src: url(./assets/Norse-Bold.otf);
}