body {
  margin: auto;
}

.flex-container {
  display: flex;
}

.left {
  width: 36%;
  background-image: url(./assets/greens.jpg);
  background-size: cover;
}

.right {
  width: 64%;
  margin: 200px 0px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.background {
  background-color: rgba(0, 0, 0, .4);
  height: 150px;
  justify-content: center;
  margin-top: 150px;
  padding: 7px 0;
}

.odin {
  font-size: 48px;
  line-height: 1;
  color: white;
}

@font-face {
  font-family: my-cool-font;
  src: url(./assets/Norse-Bold.otf);
}