body {
  margin: auto;
}

.flex-container {
  display: flex;
}

.left {
  width: 34%;
  background-image: url(./assets/greens.jpg);
}

.right {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50%;
}

@font-face {
  font-family: my-cool-font;
  src: url(./assets/Norse-Bold.otf);
}