body {
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
}

.left-section {
  width: 38%;
  background-image: url(./assets/peakpx.jpg);
  background-size: cover;
  z-index: 10;
}

.right-section {
  width: 62%;
  display: flex;
  flex-direction: column;
}

.logo-background {
  background-color: rgba(0, 0, 0, .4);
  height: 125px;
  justify-content: center;
  margin-top: 150px;
  padding: 12px 0;
}

.logo-type {
  font-size: 64px;
  line-height: 0px;
  color: white;
}

.heading {
  background-color: #f9f9f9;
  padding: 125px 175px 50px 50px;
}

.login-section {
  background-color: #f9f9f9;
  padding: 40px 175px 125px 50px;
}

.form-section > h2 {
  margin: auto;
}

.form-section {
  padding: 25px 175px 25px 50px;
  box-shadow: 0px 4px 5px #e7e7e7;
  z-index: 9;
}

.form {
  display: flex;
  gap: 85px;
}

label {
  display: block;
}

.input {
  padding-top: 20px;
  width: 250px;
  font-size: 14px;
}

input {
  margin-top: 3px;
  padding: 5px 0 5px 5px;
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  box-shadow: 3px 3px 5px #e7e7e7;
}

.login-section > p {
  margin-top: 25px;
}

button {
  width: 218px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 7px;
  background-color: black;
  cursor: pointer;
}

p {
  font-size: 14px;
}

a {
  color: black;
}